body{
    background-size: 100%;
    background: #6EB3D9;
    background: -webkit-linear-gradient(top left, #6EB3D9, #833479);
    background: -moz-linear-gradient(top left, #6EB3D9, #833479);
    background: linear-gradient(to bottom right, #6EB3D9, #833479);
}

h1{
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    color: black;
    border: black solid 5px;
    border-radius: 20px;
    background: rgba(245, 245, 245, 0.397);
}

p{
    font-style: oblique;
    font-weight: bold;
    font-size: 20px;
    margin: 10px;
}

.botonMagico{
    background: black;
    cursor: pointer;
    border: none;
    padding: 16px 32px;
    color: #FFF;
    font-size: 24PX;
    font-weight: bold;
    position: relative;
    border-radius: 12px;
    margin: 10px;
}
.botonMagico::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg,red,blue,deeppink,blue,red,blue,deeppink,blue);
    background-size: 800%;
    border-radius: 10px;
    filter: blur(8px);
    animation: glowing 20s linear infinite;
}
@keyframes glowing{
    0%{background-position: 400% 0;}
    100%{background-position: 0 0;}
}

.centrar{
    display: grid;
    place-items: center;
}

.logo{
    width: 50px;
    height: 50px;
    margin: 20px;
}